# Config file for automatic testing at travis-ci.org

language: python

python:
  - 3.7

env:
  - TOXENV=django111
  - TOXENV=django20
  - TOXENV=django21
  - TOXENV=django22
  - TOXENV=django30
  - TOXENV=django31
  - TOXENV=django32

matrix:
  include:
    - python: 3.7
      env: TOXENV=quality
    - python: 3.7
      env: TOXENV=docs

cache:
  - pip

before_install:
  - pip install --upgrade pip

install:
  - pip install -r requirements/travis.txt

script:
  - tox

after_success:
  - codecov

# Set password via "travis encrypt --add deploy.password"; for details, see
# https://docs.travis-ci.com/user/deployment/pypi
deploy:
  provider: pypi
  user: vintasoftware
  distributions: sdist bdist_wheel
  on:
    tags: true
    condition: '$TOXENV = quality'
